body {
  height: 300vh;
  width: 100vw;
  background: #fafafa;
  margin: 0;
  padding: 0;
}

#navbar-container {
  margin-top: calc(100vh - 53px);
  width: 100vw;
  height: 53px;
}

nav {
  background: #333;
  width: 100vw;
  height: 50px;
  border: 1px solid black;
  border-bottom: 3px solid #04c2c9;
}

.fixed {
  position: fixed;
  top: 0;
  z-index: 20;
}
